body{
    margin: 8px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.nav .footer{
    float: inline-start;
    font-size: 20px;
}
li a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
    font-size: 13px;
}
.leftnav{
    float: left;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}
.rightnav{
    float: right;
    color: #000;
    padding-right: 15px;
    text-align: right;
}
.body--logo-center{
    height: 233px;
    text-align: -webkit-center;
}
.body--searchbar-center{
    height: 65px;
    text-align: -webkit-center;
    padding-top: 15px;
}
.body--searchbuttons{
    height: 65px;
    text-align: -webkit-center;
    padding-top: 18px;
}
.googlelogo{
    padding-top: 109px; 
    height: 92px;
    width: 272px;
    text-align: -webkit-center;
}
.searchbar{
    border-collapse: collapse;
    flex: 1;
    display: flex;
    overflow: hidden;
    height: 44px;
    width: 482px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.123);
    border: 1px solid #f2f2f2;
    border-radius: 22px;
}
.searchtext{
    height: 42px;
    width: 440px;
    text-decoration: none;
    border: 0;
    margin-left: 22px;
    margin-right: 20px;
}
.googlemic{
    height: 24px;
    width: 4px;
    padding-top: 10px;
    padding-right: 12px;
}
button.searchicon{
    height: 44px;
    width: 44px;
    background-color: white;
    border: 0;
}
.fa fa-search::before{
    height: 20px;
    width: 20px;
    color: #5F6368;
}
.button{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: #F2F2F2;
    text-align: center;
    line-height: 41px;
    display: block;
}
#bottom{
    border-top: 1px solid #E4E4E4;
    background-color: #F2F2F2;
    padding-left: 8px;
    text-align: left;
    display: block;
}

